<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="./bootstrap.php">

    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Sweat ORM Tests">
            <directory>./src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
                <directory suffix=".php">../src/SweatORM/Exception</directory>
                <directory suffix=".php">../src/SweatORM/Structure/Annotation</directory>
                <file>../src/SweatORM/Structure/SweatAnnotations.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
